.git
.github
.idea
.vscode
.zed
.DS_Store
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
bootstrap/cache/*.php
storage/*.key
storage/app/public/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/rector
.phpunit.cache
.phpunit.result.cache
.cache
.lerd.yaml
.phpactor.json
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
auth.json
npm-debug.log
yarn-error.log
